*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* Phần thân chứa tất cả hiển thị trên web */
#wrapper {
    
}
/* Phần đầu trang */
#header {
    height: 126px;
    border-top: 45px;
    background-color: #23085a;

}
/* Phần điều hướng */
#navtop {

}
#navtop li {
    display: inline-block;
}
#navmid li {
    display: inline-block;
}
#navbot li {
    display: inline-block;
}
#navtop .button {
    display: none;
}
#navmid .button {
    display: none;
}
#navbot .button {
    display: none;
}
#navtop li a {
    color: #23085a;
    background-color: #00dcff;
}
/* Phần xác định vị trí các trang con */
#breadcrumb {

}
/* Phần nội dung của web */
#content {

}
/* Phần cuối trang */
#footer {

}
