*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* Phần thân chứa tất cả hiển thị trên web */
#wrapper {
    
}
/* Phần đầu trang */
#header {
    height: 171px;
    border-top: 45px;
    background-color: #23085a;
    position: relative;
    font: 14px Arial;
}
/* Phần điều hướng */
#navtop {
    position: relative;
}
#navtop li {
    display: inline-block;
}
#navmid li {
    display: inline-block;
}
#navbot li {
    display: inline-block;
}

#navmid .button {
    display: none;
}

#navtop {
    position: relative;
    left: 40%;
    height: 40px;
    border-bottom: 15px;
    

}
#navtop li {
   top: 0px;
   position: relative;
   left: 0;
   height: 40px;
   border-bottom: 15px;
   display: inline-block;
}


#navtop li a {
    color: #23085a;
    text-decoration: none;
    background-color: aliceblue;
    line-height: 30px;
    height: 30px;
    width: 75px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
   
    
    
}
.nav-icon-down {
    font-size: 10px ;
}
.ti-search {
    font-size: 12px;
}
.button li~a:hover {
    background-color: #00dcff;
    
}
#navtop li a:hover {
    background-color: #00dcff;
}
#navtop .button  {
    /* display: none; */
    position: absolute;
}
#navmid ul {
    position: relative;
    bottom: 50%;
    left: 21%;
    top: 18px;
    height: 77px;
}
#navmid li {
    color:00dcff;
  
}
#navmid li a {
    color: azure;
    text-decoration: none;
}
#navmid .navmid-left {
    height: 34px;
    width: 118px;
    padding-bottom: 5px;
    font: 20px Helvetica;
    font-weight: bold;
    box-sizing: content-box;
    position: relative;
}
.ti-layout-grid2 {
    font-size: 20px;
}
#navmid .navmid-center {
    height: 34px;
    width: 120px;
    padding-left: 20px;
    border-left: 1px;
    border-left-style: groove;
    font: 24px sans-serif;
    font-weight: bold;
    box-sizing: content-box;
    position: absolute;
    top: 7px;
}
#navmid .navmid-right {
    position: absolute;
    right: 100px;
    top: 20px;
    left: 996px;
    
}
#navmid .navmid-right:hover {
    text-decoration: underline;
}

#navbot {
    position: absolute;
    bottom: 10px;
    left: 21%;
}
#navbot li a {
    color: #23085a;
    text-decoration: none;
    background-color: aliceblue;
    line-height: auto;
    height: 75px;
    width: 21px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
#navbot .button {
    display: none;
    position: absolute;
   
}
#navbot li>a:hover {
    background-color: #00dcff;
}

#navbot li .box-a a {
   background-color: #00dcff;
}





/* Phần xác định vị trí các trang con */
#breadcrumb {

}
/* Phần nội dung của web */
#slider {
    
    background-color:darkgray;
    width: 100%;
    height: 420px;
    position: relative;
    
}
#slider .slider1 img {
    position: absolute;
    left: 403px;
    top: 32px;
}
#slider .slider1 .text-decription {
    background-color: #ffff;
    height: 360px;
    position: absolute;
    right: 428px;
    width: 449px;
    top: 32px;
}
#slider .slider1 .text-decription h2 {
    text-align: center;
    font: 21px Arial;
    color: rgb(26, 25, 25);
    position: relative;
    top: 50px;
    left: -78px;
}
#slider .slider1 .text-decription .text-decoration  {
    position: relative;
    top: 80px;
    height: 289px;
    width: 200px;
    left: 63px;
    font: 20px Arial ;
    color: #333;
}
#slider .slider1 .text-decription a {
     position: relative;
     left: 100px;
     text-decoration: none;
     background-color: #23085a;
     font: 14.4px Arial;
     color: #ffff;
     border-color: transparent;
     margin: 0px 0px 30px;
     padding: 14px 35px;
     border: 2px;
     box-sizing: border-box;
     left: 100px;
     bottom: 20px;
    
}
#slider .slider1 .text-decription a:hover {
    background-color: deeppink;
}
#content { 
    height: 244px;
    width: 1089px;
    background-color: LightGray;
    position: relative;
    left: 403px;
}
#content .para1 {
    position: absolute;
}
#content .part1 .para1 {
    position: absolute;
    right: 480px;
    width: 609px;
    
}
#content .part1 .para1 h1 {
    font: 24px Arial;
    margin: 0px 0px 20px;
    color: #23085a;
    position: relative;
    top: 25px;
    left: 15px;
    
}
h1::before {
    position: absolute;
    left: 0;
    bottom: -0.65em;
    content: "";
    background-color: #23085a;
    width: 50px;
    height: 5px;
    border-radius: 4px;
}
#content .part1 .para1 h3 {
    position: relative;
    top: 30px;
    left: 15px;
    font: 16px Arial;
    color: #54565a;
    margin-bottom: 15px;
    
}
#content .part1 .para1 .course1 a {
    position: relative;
    top: 55px;
    left: 15px;
    color: #23085a;
    text-decoration: none;
    font: 17.76px Arial;
    font-weight: 300px;

}

#content .part1 .para1 .course1 a:hover {
    text-decoration: underline;
    color: #000;
}

#content .part1 .para1 .course2 a  {
    position: relative;
    top: 34px;
    left: 346px;
    color: #23085a;
    text-decoration: none;
    font: 17.76px Arial;
    font-weight: 300px;

}
#content .part1 .para1 .course2 a:hover {
    text-decoration: underline;
    color: #000;
}
#content .part2 {
    position: relative;
    top: 20px;
    left: 640px;
    width: 449px;
    height: 224px;
    
}
#content .part2 h3 {
    color: #54565a;
    font: 16px Arial;
    margin-bottom: 15px;
}
#content .part2 .sign-up a {
    position: relative;
    top: 51px;
    left: 15px;
    color: #23085a;
    text-decoration: none;
    font: 17.76px Arial;
    font-weight: 300px;

}
#content .part2 .sign-up a:hover {
    text-decoration: underline;
    color: #000;
}
#content2 {
    width: auto;
    height: 750px;
    padding-top: 20px;
    
}
#content2 .box1 {
    position: relative;
    height: 320px;
    width: 343px;
    /* padding: 0px 10px; */
    background-color: LightGray;
}
#content2 .box1 p {
    margin-top: 30px;
    font: 17.76px Arial;
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 25px 20px;
    text-decoration: none;
    
    
}
#content2 .box1 a:hover {
    color: #000;
    text-decoration: underline;
}
#content2 .box2 {
    position: absolute;
    height: 320px;
    width: 343px;
    /* padding: 0px 10px; */
    background-color: LightGray;
    top: 244px;
    left: 373px;
}

#content2 .box2 p {
    margin-top: 30px;
    font: 17.76px Arial;
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 25px 20px;
    text-decoration: none;

    
}
#content2 .box2 a:hover {
    color: #000;
    text-decoration: underline;
}
#content2 .box3 {
    position: absolute;
    height: 320px;
    width: 343px;
    /* padding: 0px 10px; */
    background-color: LightGray;
    top: 244px;
    left: 746px;
}

#content2 .box3 p {
    margin-top: 30px;
    font: 17.76px Arial;
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 25px 20px;
    text-decoration: none;
    
    
}
#content2 .box3 a:hover {
    color: #000;
    text-decoration: underline;
}
#content2 .box4 {
    position: absolute;
    height: 320px;
    width: 343px;
    /* padding: 0px 10px; */
    background-color: LightGray;
    top: 615px;
    left: 0;
}

#content2 .box4 p {
    margin-top: 30px;
    font: 17.76px Arial;
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 25px 20px;
    text-decoration: none;
    
    
}
#content2 .box4 a:hover {
    color: #000;
    text-decoration: underline;
}
#content2 .box5 {
    position: absolute;
    height: 320px;
    width: 343px;
    
    background-color: LightGray;
    top: 615px;
    left: 373px;
}

#content2 .box5 p {
    margin-top: 30px;
    font: 17.76px Arial;
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 25px 20px;
    text-decoration: none;
    
    
}
#content2 .box5 a:hover {
    color: #000;
    text-decoration: underline;
}
#content2 .box6 {
    position: absolute;
    height: 320px;
    width: 343px;
    
    background-color: LightGray;
    top: 615px;
    right: 0;
}

#content2 .box6 p {
    margin-top: 30px;
    font: 17.76px Arial;
    display: block;
    text-align: left;
    box-sizing: content-box;
    padding: 0px 25px 20px;
    text-decoration: none;
    
    
}
#content2 .box6 a:hover {
    color: #000;
    text-decoration: underline;
   
}
#content3 {
    width: auto;
    height: 530px;
    padding-top: 0px;
    
    
}
#content3 h1 {
    font: 23.104px Arial;
    padding-bottom: 10px;
    color: #54565a;
}
#content3 .box7 {
    position: relative;
    height: 430px;
    width: 343px;
    margin-top: 20px;
}
#content3 .box7 a p {
    padding-top: 30px;
    padding-bottom: 20px ;
    text-decoration: none;
    font: 20.8px Arial;

}
#content3 .box7 h3 {
    font: 16px Arial;
    line-height: 20px ;
    color: #54565a;
    margin-bottom: 30px;
    
}
#content3 .box7 a:hover {
    color: #000;
    text-decoration: underline;
}
#content3 .box7 a {
    
    text-decoration: none;
    
}
#content3 .box7 a h4 {
    font: 16px Arial;
    margin-bottom: 8px;
}
#content3 .box8 {
    position: relative;
    height: 430px;
    width: 343px;
    margin-top: 20px;
    left: 373px;
    top: -450px;
  
}
#content3 .box8 a p {
    padding-top: 30px;
    padding-bottom: 20px ;
    text-decoration: none;
    font: 20.8px Arial;

}
#content3 .box8 h3 {
    font: 16px Arial;
    line-height: 20px ;
    color: #54565a;
    margin-bottom: 30px;
    
}
#content3 .box8 a:hover {
    color: #000;
    text-decoration: underline;
}
#content3 .box8 a {
    
    text-decoration: none;
    
}
#content3 .box8 a h4 {
    font: 16px Arial;
    margin-bottom: 8px;
}
#content3 .box9 {
    position: relative;
    height: 430px;
    width: 343px;
    margin-top: 20px;
    left: 746px;
    top: -900px;
  
}
#content3 .box9 a p {
    padding-top: 30px;
    padding-bottom: 20px ;
    text-decoration: none;
    font: 20.8px Arial;

}
#content3 .box9 h3 {
    font: 16px Arial;
    line-height: 20px ;
    color: #54565a;
    margin-bottom: 30px;
    
}
#content3 .box9 a:hover {
    color: #000;
    text-decoration: underline;
}
#content3 .box9 a {
    
    text-decoration: none;
    
}
#content3 .box9 a h4 {
    font: 16px Arial;
    margin-bottom: 8px;
}

/* Phần cuối trang */
#footer {

    height: 625px;
    background-color: #23085a;
    position: relative;
    top: 1250px;

}
#footer .first  {
    position: relative;
    left: 403px;
    height: 377px;
    width: 715px;
    top: 50px;
}
.intro {
    height: 346px;
    width: 225px;
    margin-right:0px 10px;
}
.intro ul {
    list-style: none;
}
.intro .introduce>a {
   color: #00dcff;
   font: 15.096px Arial;
   text-decoration: none;
}
.intro .note {
    position: relative;
    top: 20px;
    width: 200px;
    
}
.intro .note a {
    color: #ffff;
    padding: 5px 0px;
    text-decoration: none;
    font: 13.6px Arial;
    line-height: 17px;
    display: block;
    
}
.intro a:hover {
    text-decoration: underline;
}
.teach {
    position: relative;
    height: 346px;
    width: 225px;
    margin-right:0px 10px;
    top: -311px;
    left: 279px;
}
.teach ul {
    list-style: none;
}
.teach .introduce>a {
   color: #00dcff;
   font: 15.096px Arial;
   text-decoration: none;
}
.teach .note2 {
    position: relative;
    top: 20px;
    width: 200px;
    
}
.teach .note2 a {
    color: #ffff;
    padding: 5px 0px;
    text-decoration: none;
    font: 13.6px Arial;
    line-height: 17px;
    display: block;
    
}
.teach a:hover {
    text-decoration: underline;
}
.co-op {
    position: relative;
    height: 346px;
    width: 225px;
    margin-right:0px 10px;
    top: -230px;
    left: 254px;
}
.co-op ul {
    list-style: none;
}
.teach .introduce>a {
   color: #00dcff;
   font: 15.096px Arial;
   text-decoration: none;
}
.co-op .note3 {
    position: relative;
    top: 20px;
    width: 200px;
    
}
.co-op .note3 a {
    color: #ffff;
    padding: 5px 0px;
    text-decoration: none;
    font: 13.6px Arial;
    line-height: 17px;
    display: block;
    
}
.co-op a:hover {
    text-decoration: underline;
}
.connect {
    position: relative;
    width: 225px;   
    height: 328px;
    top: -576px; 
    left: 500px;
}
.connect h3 {
    color: #ffff;
    font: 15.096px Arial;
    font-weight: 600;
}
.connect a {
    font: 13.6px Arial;
    color: #ffff;
    display: block;
    text-decoration: none;
    line-height: 33px;
    
}
.connect i {
    font-size: 30px;
}
.second {
    position: relative;
    width: 960px;
    height: 88px;
    top: -275px;
    border-top: 1px groove;
    padding-top: 30px;
    
    
    

}
.second li {
    display: inline-block;
    
}
.second li>a {
    text-decoration: none;
    color: #ffff;
    font: 13.6px Arial;
    padding-left: 10px ;
    border-right: 1px groove;
    padding-right: 12px;
    
    
}
.head-senten a {
    text-decoration: none;
    color: #ffff;
    font: 13.6px Arial;
    border-right: 1px groove;
    padding-right: 12px;
}
.end-senten a {
    text-decoration: none;
    color: #ffff;
    font: 13.6px Arial;
    padding-left: 10px ;
}
.third {
    position: relative;
    width: 960px;
    height: 88px;
    top: 114px;
}
.third h2 {
    color: #ffff;
    font: 14px Arial;
}


    























